<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean class="com.pinc.springframework.beans.event.ContextClosedEventListener"/>
    <bean class="com.pinc.springframework.beans.event.ContextRefreshedEventListener"/>
    <bean class="com.pinc.springframework.beans.event.CustomerEventListener"/>



</beans>